/*Page Style @1-6F64113A*/
#parcelas_parcelas_tipos_pDetailkeyword_choices {
    position: absolute;
}
#parcelas_parcelas_tipos_pDetailkeyword_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#parcelas_parcelas_tipos_pDetailkeyword_choices ul li.selected { background-color: #aaa;}
#parcelas_parcelas_tipos_pDetailkeyword_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

