/*Page Style @1-00D4E8FE*/
#preobs_choices {
    position: absolute;
}
#preobs_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#preobs_choices ul li.selected { background-color: #aaa;}
#preobs_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

